.popup-container {
	max-width: 22em;
	background-color: #58517A;
	padding: 1.125em 1.5em;
	font-size: -0.75em;
	border-radius: 0.5em;
	box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
	margin: 30px auto;


}

.Avatrimg {
	width: 200px;
	margin-bottom: 5px;
	height: 197.1px;
}

.imageavatar {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;

	margin-top: 60px;
	margin-right: calc(var(--bs-gutter-x)* -.5);
	margin-left: calc(var(--bs-gutter-x)* -.5);
	align-items: center;
	align-content: center;
	flex-direction: column;
}

.imgflex {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.Xmark {
	display: none;
}

.col-md-16 {
	display: flex;
	flex-direction: column;
	gap: 386px;
}

.footer:last-child {
	margin-top: auto;
}


.pad {
	background-color: #403A60;
	max-height: 757px;
	min-height: 757px;

}

.logo {
	width: 133px;
	left: 3px;
	right: 8px;
	position: relative;

	top: 40px;
	left: 40px;
}

.avatar-container {
	margin-top: 100px;

}

.box {

	color: white;

	font-size: 13px;
}

img.Footer {
	width: 100%;
	position: relative;
	left: 1.5rem;
	top: 2rem;
}

.tq {
	max-height: 707px !important;

}

.tq .bg-logo-foot {

	width: 490px !important;
}

.cs .text-content {

	font-size: 14px !important;
	font-style: normal !important;
	font-weight: 400 !important;
	line-height: 20px !important;
	color: #FFF !important;
	align-self: stretch !important;
	background: rgba(102, 97, 132, 1) !important;
	border-radius: 5px !important;
	padding: 10px !important;
	position: relative !important;

	width: 100%;

}

.custom-box1.pad {
	position: relative !important;
	margin-top: 82px !important;
}

@media only screen and (width<=400px) {
	.footer {
		display: none;
	}

	.mobileclass {
		display: flex;
		flex-direction: row;
	}

	.imageavatar {
		margin: 10px;
		width: 100%;
		flex-direction: row;
		align-items: start;

	}

	.cs .text-content {
		top: 0px;
		height: auto;
		margin: 63px;
		margin-top: 0px !important;
		width: 62%;

	}

	.cs .bg-logo {
		width: 68px !important;
		margin-bottom: 5px !important;
		height: 66px;
	}

	.Xmark {
		display: block;
		color: white;
		position: relative;
		right: 22px;
	}
}

@media only screen and (min-width: 401px) and (max-width: 850px) {
	.footer {
		display: none;
	}

	.mobileclass {
		display: flex;
		flex-direction: row;
	}

	.imageavatar {
		margin: 10px;
		width: 100%;
		flex-direction: row;
		align-items: start;

	}

	.cs .text-content {
		top: 0px;
		height: auto;
		margin: 63px;
		margin-top: 0px !important;
		width: 66%;
	}

	.cs .bg-logo {
		width: 68px !important;
		margin-bottom: 5px !important;
		height: 66px;
	}

	.Xmark {
		display: block;
		color: white;
		position: relative;
		right: 22px;
	}
}