h3 {
	
	font-weight: 900;
	font-size: 1.8em;
	color: #403A60;
}

.custom-save-button {
	background-color: #403A60;
	color: white;
	padding: 10px 30px;
	border-radius: 19px;
	margin-top: 50px;
	width: max-content;
}

.all-images {
	display: flex;
}

.avatar-list {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
	text-align: center;
}

.avatar-list li {
	padding: 10px;
	/* Adjust the margin as needed */
	cursor: pointer;

}

/* .avatar :hover {

border: 4px solid  #403a60;
border-radius: 50%;

} */
.avatar {
	width: 120px;
	height: auto;
}

.selected {
	border: 1px solid #8D89A5;
	border-radius: 12px;
	width: 120px;
	height: auto;

}

.selectedname {
	color: #403a60;
	font-weight: bold;
	margin-top: 10px;
}

.avatarName {
	margin-top: 10px;
}

.avatarchoose {
	margin-bottom: 30px;
}

.avatar-row {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.image-column {
	width: calc(95% / 4);
	/* Adjust width as needed */
	margin-bottom: 20px;
	/* Adjust as needed */
}

.image-column img {

	cursor: pointer;
	padding: 8px;
}

.image-column p {
	text-align: center;
	margin-top: 5px;
	/* Adjust as needed */
}

.avatar-container {
	display: flex;
	justify-content: space-between;
}

.spinner-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ffff;
	/* semi-transparent white background */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99999;
	/* Ensure it appears above other elements */
}

@media screen and (max-width: 1500px) {
	.main {
		max-width: 1200px;
	}

	.buttondiv {
		margin-right: 50px;
	}

	.custom-save-button {
		width: 170%;
	}

}

@media screen and (max-width: 1200px) {
	.main {
		max-width: 992px;
	}

}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.main {
		max-width: 768px;
		position: relative;
		left: 50px;
	}

	.image-column {
		width: calc(95% / 3);
		margin-bottom: 20px;
	}

	.buttondiv {
		margin-right: 74px;
	}

	.custom-save-button {
		width: 168%;
	}

}

@media screen and (max-width: 768px) {
	.main {
		max-width: 600px;
	}

	.image-column {
		width: calc(95% / 2);
		margin-bottom: 20px;
	}

}

@media screen and (max-width: 600px) {
	.main {
		max-width: 400px;
	}

	.avatar-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.buttondiv {
		border-top: 1px solid;
	}

	.custom-save-button {
		width: 101%;
	}

	.avatarchoose {
		font-size: 20px;
	}


}

@media screen and (max-width: 400px) {
	.main {
		width: 284px;
	}

	.buttondiv {
		width: 294px;
	}

	.custom-save-button {
		width: 294px;
	}

	.avatarchoose {
		font-size: 18px;
	}
}